page-login {
background: url('assets/imgs/ba.jpg')
}


// .content-ios{
//     background-color:transparent 
// }


// .content-md{
//     background-color:transparent 
// }


.item-ios{
    background: transparent
}


.item-md{
    background: transparent
}