page-category p {

    white-space: normal

}


.itemsd{
    margin-top: 20px
}

.left{
    font-size: 'bolder';
    float: left;
}

.right{
    font-size: 'bolder';
    float: right;
}

.hand{
    margin-left: 50px;
    font-size: 30px;
}